# Compiled code
*.o
*.a
*.elf
*.hex
*.pyc
*.dylib
*.a
*.os
*.so
*.log
a.out
build/

# Documents
*.pdf
*.doc
*.docx
*.xls
*.ppt
*.txt

# Own formats
*.raw
*.dat

# Eclipse
.project
.cproject
.settings
.pydevproject

# Scons
.sconsign.dblite

# Doxygen
html/
latex/

# Waf
.waf-*

# OS X
.DS_Store

# Backup files
*~

# Other
externalcode/
*.orig
