# Compiled code
*.o
*.a
*.elf
*.hex
*.pyc
*.dylib
*.a
*.os
*.so
*.log
a.out
build/

# Documents
*.pdf
*.doc
*.docx
*.xls
*.ppt

# Eclipse
.project
.cproject
.settings
.pydevproject

# Scons
.sconsign.dblite

# Waf
.waf-*

# OS X
.DS_Store

# Backup files
*~
